<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello Vue:)</h1>
    <!-- <div id="app"></div> -->

    <!-- <div id="app">
      <p>{{ title }} - {{ counter }}</p>

      <button v-on:click="counter++">Increase counter</button>
      <button v-on:click="counter--">Decrease counter</button>

      <button v-on:click="title += '!'">Change title</button>

      <div @click="title += '!'">Hello changed</div>

      <div @click="method_1">Method_changed_1</div>
      <div @click="method_2('Changed')">Method_changed_2</div>
    </div> -->

    <!-- <div id="app">
      <div v-if="show">
        <p>{{ title }} - {{ counter }}</p>
      </div>

      <button @click="showHide">
        <span v-if="show"> Show</span>
        <span v-else> Hide</span>
      </button>

      <div v-show="show">Current value</div>
    </div> -->

    <div id="app">
      <div v-if="show">
        <p>{{ title }} - {{ counter }}</p>
      </div>

      <button @click="showHide">
        <span v-if="show"> Show</span>
        <span v-else> Hide</span>
      </button>
      <br />

      <div class="box" @mouseover="handeEvent">mouseover (enter)</div>
      <div class="box" @mouseleave="handeEvent">mouseleave (leave)</div>
      <div class="box" @dblclick="handeEvent">double click (dblclick)</div>
      <div class="box" @mousemove="handeMousemove">position - {{x}}, {{y}}</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
